/* Formulario de contacto */
.contact {
    width: 100%;
    min-height: 100vh;

}

.form-contact {
    width: 100%;
    padding: 3em;
    border-radius: 0.3em;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inputex{
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    border: none;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* [data-content] {
    display: none;
}

.active[data-content] {
    display: contents;
}  */


@media (min-width: 950px) {
    .contact {
        display: grid;
        place-content: center;
    }

    .form-contact {
        width: 100%;
        max-width: 550px;
    }

    /* [data-content] {
        display: none;
    }
    
    .active[data-content] {
        display: contents;
    } */
}